<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScopeDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=scopestorage;AccountKey=Rw4jh1tQ7/Z6q3Ob9jtpWdLyDBThT5XsWe2p4iZPdVXDhiTN6Xa7S+l0ItJbAuuaaj6X9oXLG35seJCkIWw1/g==" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ScopeDesktop.Properties.Settings>
            <setting name="VideoSource" serializeAs="String">
                <value />
            </setting>
            <setting name="Upload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Thumbnail" serializeAs="String">
                <value>True</value>
            </setting>
        </ScopeDesktop.Properties.Settings>
    </userSettings>
</configuration>